body{
    margin: 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
p{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.header{
    display: block;
    width: 100%;
    height: 90px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display: inline-block;
    width: auto;
    height: fit-content;
    margin:30px 0 0 40px;
}
.logo p{
    color: #4C7DF0;
    font-family: Hind Jalandhar;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.right-header{
    display: flex;
    right: 0;
    top: 20px;
    position: absolute;
    align-items: center;
}
.right-header .ideal,.noti,.mess,.avatar{
    margin-right: 30px;
   
}
.right-header .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url('./img/images.jpeg'),lightgray 50% / cover no-repeat;


    
}
.right-header .button-company{
    margin-right: 40px;
    width: 150px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 19px;
    border: 2px solid #4C7DF0;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button-company p{
    color: #4C7DF0;
    font-family: YuGothic;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.65px;
    padding-bottom: 1px;
}
.ideal .ideal-icon{
    display: flex;
    justify-content: center;
    padding-bottom: 3px;
}
.ideal .ideal-title{
    margin: 0;
    color: #4C7DF0;
    font-family: YuGothic;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}
.content{
    display: flex;
}
.content .left-menu{
    width: 370px;
    height: 100%;
    display: flex;
}
.left-menu .left{
    padding: 70px 0 0 160px;
    width: 150px;
}
.left .home-button{
    display: flex;
    height: 40px;
    align-items: center;

}
.left .home-icon{
    padding:0 8px 0 8px;
    height: 20px;
    width: 20px;
}
.home-button .home-button_title{
    color: #4C7DF0;
    font-feature-settings: 'liga' off;
    font-family: YuGothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}
.menu ul li{
    display: flex;
    height: 40px;
    align-items: center;
    
}
.menu ul li:hover{
    background-color: #E0EBF8;
    border-radius: 3px;
}

li .menu-icon{
    height:20px;
    width: 20px;
    padding:0 8px 0 8px;
}

li .menu-title{
    color: #7A7A7A;
    font-family: YuGothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    height: fit-content;

}
.main-content{
    /* display: flex; */
    width: 100%;
    padding-top: 70px;
}
.main-content .avatar-main{
    display: flex;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 100px;
    background: url('/img/images.jpeg'), lightgray 50% / cover no-repeat;
    grid-row: 1;
    margin-bottom: 15px;
}
.main-content .avatar-content{
    display: grid;
    padding-left: 335px;
    max-width: 200px;
    align-items: center;
}
.avatar-action{
    display: flex;
    position: relative;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 1;
}
.avatar-action .circle-before{
    display: flex;
    position: absolute;
    z-index: 1;
}
.avatar-action .circle-after{
    display: flex;
    position: absolute;
    z-index: 2;
}
.avatar-action .s{
    display: flex;
    position: absolute;
    z-index: 3;
    color: #00D1FF;
    text-align: center;
    font-family: YuGothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 15.4px */
}
.avatar-title{
    display: flex;
    height: fit-content;
    grid-row: 2;
    grid-column: 1;
    color: #333;
    text-align: center;
    font-family: YuGothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 164.4%; /* 29.592px */
    letter-spacing: 0.9px;
    padding-left: 60px;
}
.block{
    width: 8px;
    height: 30px;
    flex-shrink: 0;
    background: #4C7DF0;
}
.form-infor{
    display: grid;
    padding:45px 0 0 60px;
}
.form-infor .name{
    display: flex;
    width: 350px;
    height: 30px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 16px;
    grid-row: 1;
    grid-column: 1;
    /* justify-content: center; */
    margin-bottom:45px;
}
.name-content,.rank-content,.hourly-content,.gender-content,.email-content,.phone-content,.language-content,.second-language-content,.certificates-content{
    height: 24px;
    display: flex;
    padding: 3px 30px 0 0;
    color: #333;
    font-family: YuGothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
}
.phone-content{
    letter-spacing: 0.8px;
}
label{
    display: inline-block;
    height: 24px;
    /* position: absolute; */
    padding:3px 30px 0 10px;
    color: #333;
    font-family: YuGothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}
.block{
    display: inline-block;
}
.form-infor .rank{
    display: flex;
    width: 350px;
    height: 30px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 16px;
    grid-row: 1;
    grid-column: 1;
    margin-left: 400px;
    margin-bottom:45px;
}
.form-infor .hourly{
    display: flex;
    width: 350px;
    height: 30px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 16px;
    grid-row: 2;
    margin-bottom:45px;
}
.form-infor .gender{
    display: flex;
    width: 750px;
    height: 30px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 16px;
    grid-row: 3;
    margin-bottom:45px;
   
}
.form-infor .email{
    display: flex;
    width: 750px;
    height: 30px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 25px;
    grid-row: 4;
    margin-bottom:45px;
    
}
.email small{
    display: flex;
    color: #333;
    font-family: YuGothic;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    padding: 5px 0 0 10px;
}
.form-infor .phone{
    display: flex;
    width: 750px;
    height: 30px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 25px;
    grid-row: 5;
    margin-bottom:45px;
   
}
.phone small{
    display: flex;
    color: #333;
    font-family: YuGothic;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    padding: 5px 0 0 10px;
}
.form-infor .language{
    display: flex;
    width: 750px;
    height: 30px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 16px;
    grid-row: 6;
    margin-bottom:45px;
   
}
.form-infor .second-language{
    display: flex;
    width: 750px;
    height: 30px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 16px;
    grid-row: 7;
    margin-bottom:45px;
   
}
.form-infor .certificates{
    display: flex;
    width: 750px;
    height: 30px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 16px;
    grid-row: 8;
    margin-bottom:45px;
   
}
.form-infor .self-introduce{
    display: flex;
    width: 750px;
    border-bottom: 1px solid #E0EBF8;
    padding-bottom: 30px;
    grid-row: 9;
   
}
.self-introduce label{
    display: flex;
    width: fit-content;
}
.self-introduce .self-introduce-content{
    display: flex;
    max-width: 635px;
    padding-top: 3px;
    color: #333;
    font-family: YuGothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button-edit{
    display: flex;
    position: relative;
    margin-left: 155px;
    margin-top: 70px;
    width: 350px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #4C7DF0;
    align-items: center;
    justify-items: center;
}
.button-edit .edit-icon{
    position: absolute;
    padding: 0 0 0 56px;
}
.button-edit .edit-content{
    position: absolute;
    padding: 0 0 0 90px;
    color: #FFF;
    text-align: center;
    font-family: YuGothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
    letter-spacing: 0.9px;
}
.money-text{
    color: #4C7DF0;
    text-align: center;
    font-family: YuGothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
    letter-spacing: 0.9px;
    padding-top: 30px;
}
.footer{
    height: 210px;
    margin-top: 130px;
    background: #243A6B;
    padding: 30px 0 0 30px;
}
.footer .footer-icon{
    color: #FFF;
    font-family: Hind Jalandhar;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 35px;
}
.footer .limit{
    display: flex;
    height: 23px;
    padding-top: 20px;
    padding-left: 69px;
}
.limit .customer,.interpreters{
    color: #FFF;
    font-family: YuGothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 164.4%; /* 23.016px */
    letter-spacing: 0.7px;
}
.line{
    height: 16px;
    border-right: 1px solid #fff;
    margin: 0 20px 0 20px;
}
.footer .list{
    display: flex;
    padding: 50px 0 0 171px;
}
.footer .list p{
    color: #FFF;
    font-family: YuGothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 164.4%; /* 23.016px */
    letter-spacing: 0.7px;
    }
.footer .infor-company{
    display: flex;
    padding: 35px 0 0 457px;
}
.footer .infor-company p{
    color: #FFF;
    font-family: YuGothic;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 164.4%; /* 23.016px */
    letter-spacing: 0.7px;
    }


